# Laboratorio 4

In [125]:
import pandas as pd
from pathlib import Path

Utilizarás el conjunto de datos de pokemon.

In [126]:
pkm = (
    pd.read_csv(Path().resolve().parent / "data" / "pokemon.csv", index_col="#")
    .rename(columns=lambda x: x.replace(" ", "").replace(".", "_").lower())
)
pkm.head()

,name,type1,type2,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Ejercicio 1

(1 pto)

Agrupar por `generation` y `legendary` y obtener por grupo:

* Promedio de `hp`
* Mínimo y máximo de `sp_atk` y `sp_def`

In [127]:
(
    pkm.groupby(["generation","legendary"])
    .agg(
        mean_hp = ("hp", "mean"), sp_atk_max = ("sp_atk", "max"), sp_atk_min = ("sp_atk","min"), sp_def_min = ("sp_def","min"), sp_def_max = ("sp_def","max")
    )
)

                         mean_hp  sp_atk_max  sp_atk_min  sp_def_min  \
generation legendary
1          False       64.612500         175          15          20
           True        98.000000         194          95          85
2          False       69.613861         165          10          20
           True       103.400000         115          90          75
3          False       64.626761         165          10          20
           True        81.666667         180          50          20
4          False       69.740741         140          10          30
           True       100.846154         150          75          70
5          False       69.353333         145          15          25
           True        96.133333         170          72          72
6          False       66.189189         150          27          25
           True        87.500000         170          81          90

                      sp_def_max
generation legendary
1          False             130
           True              125
2          False             230
           True              154
3          False             135
           True              200
4          False             150
           True              130
5          False             135
           True              129
6          False             154
           True              150

## Ejercicio 2

(1 pto)

El profesor Oakgueda determinó que una buen indicador de pokemones es: 

$$ 0.2 \, \textrm{hp} + 0.4 \,(\textrm{attack} + \textrm{sp_atk})^2 + 0.3 \,( \textrm{defense} + \textrm{sp_deff})^{1.5} + 0.1 \, \textrm{speed}$$

Según este indicador, ¿Qué grupo de pokemones (`type1`, `type2`) es en promedio mejor que el resto?

In [128]:
def oakgueda_indicator(df):
    oakgueda_ind = 0.2*df["hp"] + 0.4*(df["attack"] + df["sp_atk"])**2 + 0.3*(df["defense"] + df["sp_def"])**1.5 + 0.1*df["speed"]
    return df.assign(oakgueda_ind = oakgueda_ind)

In [129]:
pkm = oakgueda_indicator(pkm)
pkm.head(2)

,name,type1,type2,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,oakgueda_ind
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,5577.056076
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,8596.609386

In [130]:
u = pkm.groupby(["type1","type2"]).agg(mean_ind = ("oakgueda_ind", "mean"))
u.idxmax()

mean_ind    (Ground, Fire)
dtype: object

__Respuesta__: En promedio, los pokemones Ground-Fire son mejores según el indicador del profesor Oakgueda.

## Ejercicio 3

(1 pto)

Define una función que escale los datos tal que, si $s$ es una columna: 

$$s\_scaled = \frac{s - \min(s)}{\max(s) - \min(s)}$$

Y luego transforma cada columna numérica agrupando por si el pokemon es legendario o no.

In [100]:
def minmax_scale(s):
    return (s-s.min())/(s.max() - s.min())

pkm.groupby("legendary").transform(minmax_scale)

,hp,attack,defense,sp_atk,sp_def,speed,generation,oakgueda_ind
#,,,,,,,,
1,0.173228,0.244444,0.195556,0.333333,0.214286,0.258065,0.0,0.145118
2,0.232283,0.316667,0.257778,0.424242,0.285714,0.354839,0.0,0.229090
3,0.311024,0.427778,0.346667,0.545455,0.380952,0.483871,0.0,0.379806
4,0.311024,0.527778,0.524444,0.678788,0.476190,0.483871,0.0,0.570514
5,0.149606,0.261111,0.168889,0.303030,0.142857,0.387097,0.0,0.137440
...,...,...,...,...,...,...,...,...
796,0.000000,0.357143,0.722222,0.347222,0.722222,0.000000,1.0,0.185366
797,0.000000,0.785714,0.500000,0.763889,0.500000,0.461538,1.0,0.750582
798,0.300000,0.428571,0.222222,0.694444,0.611111,0.153846,1.0,0.423514
799,0.300000,0.785714,0.222222,0.833333,0.611111,0.230769,1.0,0.806434
800,0.300000,0.428571,0.555556,0.555556,0.388889,0.153846,1.0,0.333752

## Ejercicio 4

(1 pto)

El profesor Oakgueda necesita saber cuántos pokemones hay luego de filtrar el dataset tal que el grupo de (`type1`, `type2`) tenga en promedio un indicador (el del ejercicio #2) mayor a 40000.

In [120]:
n = (pkm.groupby(["type1","type2"]).agg(mean_ind = ("oakgueda_ind", "mean"))["mean_ind"]>40000).sum()
print(f"hay {n} pokemones que cumplen esta condicion")

hay 2 pokemones que cumplen esta condicion

__Respuesta:__ Hay solo dos pokemones que cumplen esta condición.

## Bonus Track

Honestamente, ¿te causó risa el chiste del profesor Oakgueda? Responde del 1 al 5, donde 1 es equivalente a _"Me dio vergüenza ajena"_ y 5 a _"Me alegró el día y mi existencia en la UTFSM"_.

__Respuesta__:  2